.sticky {
	display: block;
}

.hentry {
	margin: 0 0 1.5em;
}

.byline,
.updated:not(.published){
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}
/*adding the bootstrap classes to all the page elements*/
.site-content { /*creates a row out of site-content*/
  @include make-row();
   /*Nested styles below!*/
  .content-area { /*set the main content area width*/
    @include make-md-column(9);
  }

  .widget-area { /*in the sidebar*/
    @include make-md-column(3);
  }
}